
# Configuration file for JamesUi application used ONLY when the application is running inside Eclipse (ie: CATALINA_HOME is not set).
# When JamesUI is running inside Apache Tomcat is used a file named jamesui.conf that the user MUST place in TOMCAT_HOME/conf folder.
# The properties entry names are the sames for both the files 

# put here the file system folder where save the Database files with James statistics
statistic_db_location=C:\\Users\\james\\Desktop\\MY_DOC\\TEST

# the folder where is installed Apache James server 
james_base_folder=C:\\Users\\james\\Desktop\\MY_DOC\\JamesUI\\apache-james-3.0-beta4